:root {
    --primary-gold: #a6814c;
    --primary-gold-hover: #977647;
    --dark-bg: #1d1d1d;
    --card-bg: #ffffff;
    --nav-bg: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-image: url("car19.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
 background-position-y: center;
    background-attachment: fixed;

}

/* Background image layer */


header {
    min-height: 50px;
}

footer {
    min-height: 50px;
}

/* Login and Registration Styling */
.card-header {
    padding-top: 120px;
    padding-bottom: 90px;
    background-color: var(--card-bg);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    border: none;
}

.card-header h3 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.card-body {
    background-color: var(--card-bg);
    border-radius: 0px 0px 6px 6px;
    border: none;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: transparent;
    width: 100%;
    height: 100vh;


}


.login-form-wrapper {
    width: 60%;
    background-color: var(--dark-bg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow-y: auto;
    margin-left: 20px;
}
.mb-3-1 {
    padding-top: 20px;
    padding-bottom: 0px;
}

.mb-3-2 {
    padding-top: 20px;
    padding-bottom: 140px;
}

/*make the box larger*/
.card {
    margin-right: 60px;
    width: 100%;
    max-width: 800px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

    border: none;
    border-radius: 20px;
}

.authentication-btn {
    background-color: var(--primary-gold);
    height: 3em;
    color: white;
    border: none;
    border-radius: 60px;
    font-size: 28px;
}

.authentication-btn:hover {
    background-color: var(--primary-gold-hover);
    transition: 0.5s;
}

.authentication-link {
    color: var(--primary-gold);
    text-decoration: none;
}

.authentication-link:hover {
    color: var(--primary-gold-hover);
}

/* .container {
    display: flex;
    justify-content: center;
} */

.form-control {
    font-size: 24px;
    padding: 15px;
}
